<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- 相册选图走 SAF(GetContent),不需要任何媒体权限;此前声明且强制的
         READ_MEDIA_IMAGES/READ_EXTERNAL_STORAGE 属于过度索权,用户拒绝后反而无法选图 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" android:required="true" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MobileSAM">

        <activity
            android:name=".CameraActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden" />

        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden" />

        <activity
            android:name=".ModelDetailActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden" />
    </application>

</manifest>
